<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>YOUR_TEAM_ID_HERE</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.globalattract.globalattractai</key>
        <string>2516f418-02b3-41d7-b773-916bf2570db3</string>
    </dict>
</dict>
</plist>